* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #1e1e1e;
}
header {
    display: flex;
    justify-content: space-around;
    background-color: #3c3c3c;
    align-items: center;
    padding: 20px;
}
.barra-menu {
    display: flex;
    gap: 50px;
}
.menu {
    text-decoration: none;
    color: #CCCCCC;

}
.menu:hover {
    color: #ffcc15b3;

}
.subtitle {
    display: flex;
    align-items: center;
    background-color: #252526;
    height: 35px;
}
.aba-html {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #1e1e1e;
    color: #CCCCCC;
    width: 200px;
    height: 100%;
}
.aba-css {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
    background-color: #2d2d2d;
    color: #cccccc8f;
    width: 150px;
    height: 100%;
}
#code {
    color: orangered
}
#tag {
    color: #449ABA;
}
#barra-lateral {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
    color: #cccccc8f;    
    height: 500px;
    width: 30px;
    padding: 5px;
}
.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    height: 500px;
    width: 30px;
}
.insta:hover:hover {
    width: 40px;
}
.linkedin:hover:hover {
    width: 40px;
}
.github:hover:hover {
    width: 40px;
}
.banner {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
}
.banner-texto {
    color: #FFCC15;
    font-size: 36pt;
    padding: 50px;
    text-align: right;
}
footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: #0071cc;
    color: #fff;
    padding: 5px;
}
